*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
body{
	background :#f5f5f5;
}
main{
	margin-top: 70px;
}
nav{
	height: 50px;
	background: #6b4e2a;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.nav-icon{
	display: inline-block;
	width: 30px;
	height: auto;
	
}
/*.nav-icon{
	position: relative;
	width: 30px;
	height: auto;	
}*/
/*.brand-icon{
	position: relative;
	display: inline-block;
	height: 100%;
	width:60px;
}*/
.page-name{
	display: inline-block;
	height: 100%;
	width: 250px;
	padding-top: 10px;
	margin-left: 50px;
}
.page-name p{
	font-size: 1.2rem;
	color: white;
	margin-bottom: 0;
}
p.card-text{
	height: 1.5rem;
	font-size: 0.8rem;
	overflow: hidden;
	margin-bottom: 5px;
}
/*div.card-body{
	height: 100px;
}
*/
.card{
	width: 230px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.75);
}
/* img.img-fluid{
	margin-left: auto;
	margin-right: auto;
	
} */
div.carousel{
	width: 60%;
	height: 330px;
	overflow: hidden;
}
.carousel-background{
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);

background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

	-webkit-box-shadow: 1px 10px 16px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 16px -9px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 16px -9px rgba(0,0,0,0.75);



}
div.info{
	/*background: #f8f8f8;*/
	
}

p.project-text{
	padding: 15px;
	text-align: justify;
}

h3.image-title{
	padding-top: 15px;
	text-align: center;
}
/*.review1, .review2, .review3{*/
	/*!*height: 112px;*!*/
	/*!*background: grey;*!*/
	/*overflow: hidden;*/
/*}*/
/*.row{*/
	/*overflow: hidden;*/
/*}*/
/*.row {*/
	/*display: table;*/
/*}*/

/*.row [class*="col-md-3"] {*/
	/*float: none;*/
	/*display: table-cell;*/
	/*vertical-align: top;*/
/*}*/
div.col-md-2.info{
	/*height: 300px;*/
	/*background: black;*/
	-webkit-box-shadow: 1px 10px 16px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 10px 16px -9px rgba(0,0,0,0.75);
	box-shadow: 1px 10px 16px -9px rgba(0,0,0,0.75);
}
div.row.preview{
	height: 33%;
	overflow: hidden;
}
li.list-group-item{
	text-align: center;
	background :#b69064;
}


img.preview-image{
	/*height: 150px;*/
	/*max-width:100%;*/
	/*max-height:100%;*/
	/*object-fit: fill;*/
}
.card-img-top {
	height: 152px;
}

div.dropdown{
	padding-left: 20px;
}
.btn-primary {
	color: #fff;
	background-color: #6b4e2a;
	border-color: #6b4e2a;
}
.navbar-dark .navbar-nav .nav-link.welcome{
	color: white;
}

/* ****************************ADD NEW**************************************/
.addform{
	margin-top: 20px;
}
/*.fotospreview{*/
	/*height: 250px;*/
/*}*/
div.carousel.addform{
	width: 40%;
	height: auto;
}

.carousel-background.addform{
	opacity: .6;
}
div.col-md-2.info.addform{
	opacity: .6;
	height: 200px;
}

.container.login{
	margin-top: 180px;
}
i.fas.fa-home{
	display: none;
}
@media (min-width: 1200px) {
	div.backToHome {
		width: 120px;
		height: 100vh;
		background: url(../images/header.jpg);

		background-size: cover ;
		background-position: 25% center;
		opacity: .5;
		position: absolute;
		top: 0;
		transition: 1.5s ease;

	}
	div.backToHome:active{
		background-position: 0% center;
	}
	div.backToHome:hover {
		opacity: 1;
	}
	div.homelink{
		margin-top: 540px;
		color: black;
		text-align: center;

		opacity: 1;
		font-size: 100px;

	}
	i.fas.fa-home{
		display: block;
	}
}

