*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
#first{
	background: url(../images/header.jpg);
	background-size: cover;
	height: 100vh;
	/*background: yellow;*/
}

#second{
/*	background: rgba(199,178,153,1);
background: -moz-linear-gradient(top, rgba(199,178,153,1) 0%, rgba(199,178,153,1) 54%, rgba(98,63,40,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(199,178,153,1)), color-stop(54%, rgba(199,178,153,1)), color-stop(100%, rgba(98,63,40,1)));
background: -webkit-linear-gradient(top, rgba(199,178,153,1) 0%, rgba(199,178,153,1) 54%, rgba(98,63,40,1) 100%);
background: -o-linear-gradient(top, rgba(199,178,153,1) 0%, rgba(199,178,153,1) 54%, rgba(98,63,40,1) 100%);
background: -ms-linear-gradient(top, rgba(199,178,153,1) 0%, rgba(199,178,153,1) 54%, rgba(98,63,40,1) 100%);
background: linear-gradient(to bottom, rgba(199,178,153,1) 0%, rgba(199,178,153,1) 54%, rgba(98,63,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7b299', endColorstr='#623f28', GradientType=0 );*/
	background: #c7b299;
	height: 100vh;
}

#third{
	background: #c7b299;
	height: 100vh;
}

#fourth{
	background: #c7b299;
	height: 100vh;
}

nav{
	height: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.72);
	
	position: fixed;
	z-index: 1;
}
ul{
	height: 100%;
	/*padding-top: 15px;*/
}
nav ul li{
	width: 110px;
	height: 100%;
	float: right;
	display: inline-block;

	


}
a{
	text-decoration: none !important;
	display: block;
	box-sizing: border-box;
	height: 100%;
	padding-top: 15px;
	color: white;
	text-align: center;
	}

a:hover{
	color: white;
	background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3), rgba(255,255,255, 0));

}
.active{
	background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3), rgba(255,255,255, 0));
}

header{
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.72);
	color: white;
	position: absolute;
	right: 0px;
	top: 180px;
	height: 180px;
	width: 600px;
	padding-top: 20px;
	padding-left: 20px;
	}

h1{
	font-weight: 100;
	font-size: 60px;
	
}
h2{
	padding-left: 105px;
	margin-top: -15px;
}
p{
	padding-left: 0px;
	margin-top: 30px;
}
.container{
	padding-top: 100px;
}

.card{
	background: #a58374;
	-webkit-box-shadow: 4px -5px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px -5px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 4px -5px 15px -4px rgba(0,0,0,0.75);
}
.card-text{
	font-size: 12px;
}

.btn-primary{
	background: #c7b299;
	border-color: #c7b299;
}

.project{
	margin-top: 200px;
	background: blue;
}

.project-card{
	padding-top: 100px;
}

.view-all .btn-primary{
	margin-top: 100px;
	margin-left: 30px;
	background: #57361cd9;
	border-color: #57361cd9;
	/*color: #d02192;
	font-weight: bold;*/
}
.list-group-item {
	background: #a58374;
	}
.list-group-item.active{
	background: #c7b299;
	border-color: #a58374;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
background-color: #efe7dd;
border-color: #634028;
color: #634028;
	}
/*view-all{
	height: 100px;
	
}*/

/*.view-all .card-text{
	margin: 0;
}*/
/*.view-all .card-body{
	padding-top: 10px;
}*/

