*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
/* html, body {
    overflow-x:hidden;
} */

#first{
	background: url(../images/header.jpg);
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	/*background: yellow;*/
}

#second{
	background: #c7b299;
	height: 100vh;
	position: relative;
}

#third{
	background: #e0d2c6;
	position: relative;
	height: 100vh;
}

#fourth{
	background: #6b4e2a;
	position: relative;
	height: 100vh;
}



/*---------------------------------------------------------------------------------*/
#first #navigation{
	background-color: rgba(0, 0, 0, 0.72);
	min-width: 300px;
}
#navigation .nav-link{
	color: white;
	width: 100px;
	text-align: center;
}
#navigation .navbar-toggler-icon{
	color: white;
}
#navigation .navbar-brand{
	color: white;
}
a.nav-link{
	padding-top: 12px;
}

a:hover{
	color: white;
	/*background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3), rgba(255,255,255, 0));*/
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}
.active{
	background-image: linear-gradient(to bottom, rgba(255,255,255, 0.3), rgba(255,255,255, 0));
}
/*----------------------------------------------------------------------------------------------------------*/



header{
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.72);
	color: white;
	position: absolute;
	right: 0px;
	top: 180px;
	height: 180px;
	width: 600px;
	padding-top: 20px;
	padding-left: 20px;
	}
.bookmark{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	width: 15%;
	border-radius: 113px 113px 0px 0px;
	-moz-border-radius: 113px 113px 0px 0px;
	-webkit-border-radius: 113px 113px 0px 0px;
	margin: 0 auto;
	background: #c7b299;
}
.bookmark2{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	width: 15%;
	border-radius: 113px 113px 0px 0px;
	-moz-border-radius: 113px 113px 0px 0px;
	-webkit-border-radius: 113px 113px 0px 0px;
	margin: 0 auto;
	background: #e0d2c6;
}
.bookmark3{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	width: 15%;
	border-radius: 113px 113px 0px 0px;
	-moz-border-radius: 113px 113px 0px 0px;
	-webkit-border-radius: 113px 113px 0px 0px;
	margin: 0 auto;
	background: #6b4e2a;
}

#first h1{
	font-weight: 100;
	font-size: 60px;	
}
#first h2{
	padding-left: 105px;
	margin-top: -15px;
}
#first p{
	padding-left: 0px;
	margin-top: 30px;
}
#second .container, #third .container{
	padding-top: 100px;
}

.card{
	background: #a58374;
	-webkit-box-shadow: 4px -5px 15px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px -5px 15px -4px rgba(0,0,0,0.75);
	box-shadow: 4px -5px 15px -4px rgba(0,0,0,0.75);
}
.card-text{
	font-size: 12px;
}

.btn-primary{
	background: #c7b299;
	border-color: #c7b299;
}

.project{
	margin-top: 200px;
	background: blue;
}

.project-card{
	padding-top: 70px;
}

.view-all .btn-primary{
	margin-top: 100px;
	/*margin-left: 30px;
*/	background: #57361cd9;
	border-color: #57361cd9;
	/*color: #d02192;
	font-weight: bold;*/
}
.list-group-item {
	background: #a58374;
	}
.list-group-item.active{
	background: #c7b299;
	border-color: #a58374;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
background-color: #efe7dd;
border-color: #634028;
color: #634028;
	}

.about-section-text{
		background-color: #a583744a;
		overflow: hidden;
		font-size: 60px;
		height: 100px;
		margin-bottom: 20px;
	}
	.icon{
		background: url(../images/icon.png);
		background-size: cover;
	}

	.info-image{
		background: black;
		opacity: 0.5;
		height: 200px;
		margin-top: 50px;
	}
/*view-all{
	height: 100px;
	
}*/

/*.view-all .card-text{
	margin: 0;
}*/
/*.view-all .card-body{
	padding-top: 10px;
}*/

/*html {
  scroll-behavior: smooth;
}﻿*/

/* #fourth .container .first-con{
	padding-top: 100px;
} */

#fourth{
	padding-top: 100px;
}

#fourth .info{
	background: #f7f7f7;
	padding: 10px 0;
}

.contact-section-text{
	background-color: #f7f7f7;
	font-size: 60px;
	height: 100px;
	margin-bottom: 20px;
}

#fourth .container-fluid{
	background: #f7f7f7;
}
.embeded-border{
	padding-left: 15px;
	border-left: 3px dashed #d0d0d07e;
}
#fourth .footer-icon{
	display: inline-block;
	width: 70px;
	height: auto;
}
#fourth .footer-text{
	display: inline-block;
	width: 70%;
	margin-left: 0px;
}
#first .nav-icon{
	display: inline-block;
	width: 30px;
	height: auto;
	
}
@media (max-width: 600px){
		header{
			width: 100%;
			top: 218px;
		}
		#first h1{
			width: 250px;	
		}
		#first h2{
			padding-left: 50px;
			width: 280px;
		}	
		#navigation .nav-link {
			width: 100%;
		}
		#second{
			height: auto;
		}
		#second .about-section-text, #third .about-section-text{
			font-size: 35px;
		}
		#second .card{
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
		#second div.card.view-all{
			height: 150px;
			margin-bottom: 50px;
		}
		#second .container, #third .container{
			padding-top: 60px;
		}
		.view-all .btn-primary {
			margin-top: 0;
			margin-bottom: 5px;
		}
		#second .card-text{
			height: 35px;
    		overflow: hidden;
		}
		#third{
			font-size: 12px;
		}
		#fourth .contact-section-text{
			font-size: 35px;
		}
		#fourth{
			height: auto;
		}
		.bookmark, .bookmark2, .bookmark3{
			width: 80px;
			border-radius: 23px 23px 0px 0px;
			-moz-border-radius: 23px 23px 0px 0px;
			-webkit-border-radius: 23px 23px 0px 0px;
			border: 0px solid #000000;
			
			-webkit-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
			box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.75);
		}
}